@import url('https://dinpixels.neocities.org/src/fonts/ubuntu-v20-latin-300.woff2');

:root {
    --border-color: #1f1f1f;
    --background-color: #ffc21b;
    --text-color: #1f1f1f;

    --admin-name-color: #7d009c;
    --mod-name-color: #8cd418;

    --link-default-color: #7d009c;
    --link-hovered-color: #1f1f1f;
    --link-visited-color: #7d009c;

    --comment-box-default-color: #7d009c;
    --comment-box-focused-color: #ffc21b;
}

@keyframes hovering {
    from {
        margin-bottom: 3px;
    }
    to {
        margin-bottom: 0;
    }
}
/*:root { --notification-sfx: "../src/audio/sfx/chat_notif.wav"; }*/

body {
    background: var(--background-color) !important;
    font-weight: 300;
    font-style: light;
}
br {
    height: 6pt;
}

#background {
    background: var(--background-color);
}

.allMessages {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    border: 4px solid var(--border-color);
    border-radius: 10px;
    font-size: 16px;
}
.allMessages:hover:after {
    width: 100%;
    height: 100%;
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
}

.msgBody {
    text-align: left;
    cursor: text;
}
.allMessages a, .allMessages a:visited {
    color: var(--link-default-color) !important;
}
.allMessages a:hover {
    color: var(--link-hovered-color) !important;
}

.senderInfo {
    display: block;
    margin: 2px;
    font-size: 16px;
    text-align: left;
    font-weight: light;
}
.emoji {
    max-width: 72px;
    max-height: 72px;
    image-rendering: optimizeQuality;
}

#input {
    margin: 0;
    padding: 10px 20px;
    background: none;
    color: #333;
    
    font-size: 16px;
    width: calc(100% - 50px);
    
    border: 4px solid var(--comment-box-default-color);
    border-radius: 10px;
}
#input:focus {
    border: 4px dotted var(--comment-box-focused-color);
}
#input:empty::before {
    content: "The most comment bar ever 0_0";
}

#timestamp {
    color: #AAA;
    font-size: 16pt;
}
.badge {
    display: none;
}

/* .sent > .senderInfo {
    text-align: right;
}
.recieved > .senderInfo {
    text-align: left;
}
*/

.senderInfo:has(.owner), .senderInfo:has(.mod) {
    font-weight: bold;
}
.senderInfo:has(.owner) {
    color: var(--admin-name-color);
}
.senderInfo:has(.mod) {
    color: var(--mod-name-color);
}

#top_banner {
    display: none;
}
#settings {
    filter: invert(50%);
    opacity: 0.75;
}
#settings:hover {
    filter: invert(10%);
}
blockquote {
    font-style: italic;
}
#loadMore {
    font-size: 10pt;
}
.pinned {
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 5px;
    max-height: 15vh;
    overflow: hidden;
    cursor: default;
}
.pinned:hover {
    max-height: none;
    height: auto;
    box-shadow: 0px 2px 5px #000;
    background-color: #FFF;
}
.pinned::before {
    content: "\23F7";
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    animation: 500ms linear infinite alternate hovering;
}
.pinned:hover::before {
    display: none;
}
.pinned > .allMessages {
    box-shadow: 0 0 3px #000;
}
.pinned > .allMessages:hover {
    box-shadow: none;
}
.pinned > .allMessages::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15vh;
    max-height: 100%;
    background: linear-gradient(transparent, transparent, #333);
    opacity: 0.75;
}
.pinned > .allMessages:hover::before {
    display: none;
}
.pinned:after {
    display: inline-block;
    position: absolute;
    right: 2px;
    top: 2px;
    content: "📌";
}
#replyBanner {
    font-size: 8pt;
}