:root {
    --background-image: url('/src/img/konata_windows_xp.png');

    --window-background-color: #F5F5F5;
    --window-text-color: #000;
    --window-border-color: #245DDA;

    --link-default-color: #245DDA;
    --link-hovered-color: #FFA500;
}

@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('/src/fonts/ubuntu-v20-latin-300.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'UbuntuRegular';
    font-style: normal;
    font-weight: 500;
    src: url('/src/fonts/ubuntu-v20-latin-500.woff2') format('woff2');
}

body {
    cursor: url('../img/cursor_leap_bound.png'), default;
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    image-rendering: optimizeSpeed;
}
h1, h2 {
    margin: 0;
    font-family: UbuntuRegular;
}
h1, p {
    margin-top: 0;
}
a {
    cursor: url('../img/cursor_pointing_leap_bound.png'), default;
}
a, a:visited {
    color: var(--link-default-color);
}
a:hover {
    color: var(--link-hovered-color);
}
hr {
    border-top: 1px solid #a9a9bd;
}
.gallery, .gallerySmall, .galleryBig {
    line-height: 0;
    column-count: 6;
    column-gap: 0;
    display: inline-block;
}
.gallerySmall {
    column-count: 10;
}
.galleryBig {
    column-count: 4;
}
.intro {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: end;
}
.intro > div > p {
    margin: 0;
    padding: 0;
}
.info {
    padding-left: 20px;
    border-left: 2px solid #a9a9bd;
}
.note {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/*
.gallery:has(img:hover) img:not(:hover) {
    filter: grayscale(0.75);
}*/
img, picture {
    width: 100% !important;
    height: auto !important;
    display: inline-block !important;
    image-rendering: pixelated !important;
    transition: transform 0.25s;
}
img:hover, picture:hover {
    transform: scale(1.5);
}

#main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.window {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 100%;
    border: 4px solid var(--window-border-color);
    border-radius: 10px;
    background-color: var(--window-background-color);
    color: var(--window-text-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Mobile layout support */
@media (max-width: 1000px) {
    .gallery, .gallerySmall, .galleryBig {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 800px) {
    .gallery, .gallerySmall, .galleryBig {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after,
    img, picture, button, div {
        transition: none !important;
        animation: none !important;

        -webkit-transition: none !important;
        -webkit-animation: none !important;

        -moz-transition: none !important;
        -moz-animation: none !important;

        -o-transition: none !important;
        -o-animation: none !important;
    }
}