:root {
    /* Theme variables START */

    /* Konata XP */
    --xp-border-color: #245DDA;
    --xp-background-color: #F5F5F5;
    --xp-button-border-color: #245DDA;
    --xp-button-border-color-hover: #FFA500;
    --xp-button-background-color: #E4EDFF;
    --xp-button-text-color: black;
    --xp-min-size-button-border-color: #83C2F5;
    --xp-exit-button-color: #E74848;
    --xp-exit-button-border-color: #FF7F7F;
    --xp-taskbar-color: #245DDA;
    --xp-start-button-color: #95DA3C;
    --xp-text-link-color: #245DDA;
    --xp-text-link-color-hover: #FFA500;
    --xp-blog-link-color: #245DDA;
    --xp-blog-link-color-hover: #FFA500;
    --xp-background-image: url('../img/konata_windows_xp.png');
    --xp-player-track-bgcolor: black;
    --xp-player-track-color: lime;
    --xp-taskbar-text: whitesmoke;

    /* Sakura PX */
    --sakura-border-color: #EE3774;
    --sakura-background-color: #FFEEEE;
    --sakura-button-border-color: #571513;
    --sakura-button-border-color-hover: #EE3774;
    --sakura-button-background-color: #8D442E;
    --sakura-button-text-color: #FFEEEE;
    --sakura-min-size-button-border-color: #F58396;
    --sakura-exit-button-color: #95DA3C;
    --sakura-exit-button-border-color: #C0E658;
    --sakura-taskbar-color: #EE3774;
    --sakura-start-button-color: #95DA3C;
    --sakura-text-link-color: #2EB41C;
    --sakura-text-link-color-hover: #95DA3C;
    --sakura-art-button: #ffa9b7;
    --sakura-art-button-important: #C0E658;
    --sakura-blog-link-color: #2EB41C;
    --sakura-blog-link-color-hover: #95DA3C;
    --sakura-background-image: url('../img/Slime%20Town%203.gif');
    --sakura-background-image-reduced: url('../img/Slime%20Town%203.png');
    --sakura-player-track-bgcolor: #8D442E;
    --sakura-player-track-color: #95DA3C;
    --sakura-taskbar-text: #FFEEEE;


    /* Theme variables END */
}

@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ubuntu-v20-latin-300.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'UbuntuItalic';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/ubuntu-v20-latin-300italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'UbuntuRegular';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'UbuntuRegularItalic';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/ubuntu-v20-latin-500italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'UbuntuBold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v20-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'UbuntuBoldItalic';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/ubuntu-v20-latin-700italic.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Visitor';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/visitor2.ttf') format('woff2');
}
html {
    font-family: Ubuntu;
    cursor: url('../img/cursor_leap_bound.png'), default;
}
b, .toDo > p, .updates > p, .mySetup > p {
    font-family: UbuntuRegular;
}
em {
    font-family: UbuntuItalic;
}
body {
    background-image: var(--sakura-background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    image-rendering: optimizeSpeed;
}
p {
    margin: 0;
}

a, button {
    cursor: url('../img/cursor_pointing_leap_bound.png'), default;
}

.tooltip {
    background-color: var(--sakura-background-color) !important;
    border: solid 4px var(--sakura-text-link-color) !important;
    border-radius: 10px !important;
}

.banner {
    width: 100%;
    height: 200px;
    background-image: url('../img/works/personal/2024/Serenity_XP_Landscape_x1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    image-rendering: pixelated;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.headerBg {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.headerPfp {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.headerName {
    height: 128px;
    image-rendering: optimizeSpeed;
}

.headerLinks {
    padding-top: 20px;
    height: 36px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    image-rendering: pixelated;
}

.headerBtn {
    padding: 2px;
    display: block;
    -webkit-filter: drop-shadow(10 1px 1px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
    transition: transform 0.10s;
}

.headerBtn:hover {
    transform: scale(1.5);
}

.headerButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desktop {
    /* STRETCHES ON FULL RESOLUTION
    width: calc(100vw - 20px);
    */

    /* ASPECT RATIO REMAINS */
    width: 1350px;
    height: auto;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
}
.columns {
    width: 1350px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.left, .right {
    width: 50%;
}
.middle {
    width: 100%;
}
.window {
    margin: 10px;
    padding: 10px;
    /*
    min-width: 300px;
    min-height: 20px;
    */
    position: relative;
    background-color: var(--sakura-background-color);
    border: 5px solid;
    border-top: 36px solid;
    border-color: var(--sakura-border-color);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.borderDecor {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -12px;
    left: -12px;
    border: 12px solid transparent;
    border-image: url('../img/works/vine_decor_border_x1.png') 12 round;
    pointer-events: none;
}

.windowIcon {
    text-shadow: -1px -1px white;
    color: transparent;
}
.windowTitle {
    font-size: 16px;
    color: whitesmoke;
    position: absolute;
    top: -38px;
    left: 10px;
}
.navi > a, .mobileNavi > a {
    margin: 0;
    padding: 0;
}
.btn {
    padding: 5px;
    background-color: var(--sakura-button-background-color);
    border: 2px solid var(--sakura-button-border-color);
    border-radius: 5px;
    color: var(--sakura-button-text-color);
}
.btn:hover {
    border: 2px solid var(--sakura-button-border-color-hover);
}
.embed {
    margin-left: 5px;
}
.xBtn {
    padding: 2px 8px;
    background-color: var(--sakura-exit-button-color);
    color: whitesmoke;
    position: absolute;
    top: -34px;
    right: 0;
    border: 2px outset var(--sakura-exit-button-border-color);
    border-radius: 4px;
}
.sizeBtn {
    padding: 2px 8px;
    background: none;
    color: whitesmoke;
    position: absolute;
    top: -34px;
    right: 32px;
    border: 2px outset var(--sakura-min-size-button-border-color);
    border-radius: 4px;
}
.minBtn {
    padding: 2px 8px;
    background-color: transparent;
    color: whitesmoke;
    position: absolute;
    top: -34px;
    right: 66px;
    border: 2px outset var(--sakura-min-size-button-border-color);
    border-radius: 4px;
}
.embedsrc {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.coolSites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer, .credits {
    text-align: center;
}
.bio {
    display: flex;
    flex-direction: row;
}
.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bio > .info {
    justify-content: center;
    align-items: center;
}

.info-data {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pfp {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}
.gifypetoc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*.webcamBG {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    cursor:grab;
}*/
.toDo, .updates, .mySetup {
    margin-left: -20px;
    height: 128px;
    overflow-y: auto;
}
.toDo > p, .updates > p, .mySetup > p {
    font-weight: bold;
    margin-left: 24px;
}
.toDo > ul, .updates > ul, .mySetup > ul {
    margin-top: 5px;
}
li {
    border-bottom: 1px solid lightsteelblue;
}
.txtImg {
    margin: 0;
    padding: 0;
    width: 128px;
    height: 90px;
    image-rendering: pixelated;
}
.chat {
    height: 360px;
}
#btnEmbed {
    padding: 0;
    width: calc(100% - 24px);
    height: 40px;
    text-align: center;
}
.blog {
    width: 100%;
    height: 402px;
    overflow-y: auto;
}
.microblog {
    height: 240px;
    overflow-y: auto;
}
.taskbar {
    width: 100%;
    height: 42px;
    background-color: var(--sakura-taskbar-color);
    position: fixed;
    left: 0;
    bottom: 0;
}
.taskbarItems {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.taskbarStart {
    width: auto;
    height: 100%;
}
.taskbarLinks {
    width: 100%;
    height: 100%;
    align-content: center;
}
.taskbarDate {
    width: auto;
    height: 100%;
    align-content: center;
}
.startBtn {
    margin-right: 5px;
    padding: 5px 2px 10px 2px;
    width: 120px;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    background-color: var(--sakura-start-button-color);
    color: var(--sakura-taskbar-text);
    border: 2px outset var(--sakura-min-size-button-border-color);
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom: none;
}
.dateTime {
    margin: 0;
    padding: 4px 2px;
    width: 96px;
    font-size: 14px;
    font-weight: bold;
    color: var(--sakura-taskbar-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnLink {
    image-rendering: pixelated;
}
.txtLink, .txtLink:visited {
    color: var(--sakura-text-link-color);
}
.txtLink:hover {
    color: var(--sakura-text-link-color-hover);

}
.statsMain {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.statsViews {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.embedButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.fanlists, .toolLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.webrings, .navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.webrings {
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 16px;
}
.webring-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.navlink {
    padding: 0;
}
.navi, .mobileNavi {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.mobileNavi {
    margin: -10px -20px;
    padding: 10px 20px;
    background-color: var(--sakura-border-color);
    display: none;
}
.navi .btn, .mobileNavi .btn {
    font-family: Ubuntu;
}
.galleryBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: right;
}
.artBtn .btn {
    margin-bottom: 5px;
    width: 100%;
    font-family: UbuntuBold;
    color: var(--sakura-art-button);
}
.artBtn b {
    color: var(--sakura-art-button-important);
}
.welcome {
    height: 100px;
    overflow-y: auto;
}
.imgInsert {
    display: flex;
}
.divider {
    margin: 32px auto;
    width: 80%;
    border: none;
    border-top: 2px dotted slategray;
}
#chattable {
    border: none;
    height: 100%;
}

/* MP3 PLAYER CSS */
.player {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 5px;
}
.playerCtrl {
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.playerImg {
    height: 100%;
    /*border: 1px dotted red;*/
}
.trackArt {
    height: 100%;
    /*border-radius: 5px;*/
}
.trackName {
    padding: 4px 4px 0 8px;
    font-size: 20px;
    font-family: Visitor;
    background-color: var(--sakura-player-track-bgcolor);
    color: var(--sakura-player-track-color);
}
.playerInfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*border: 1px dotted blue;*/
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.playpause-track, .prev-track, .next-track {
    opacity: 0.8;
    transition: opacity .2s; /* Smoothly transition the opacity */
}
.playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;

}
.sliders {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: grab;
}
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
}
.volume-icon {
    font-size: 12px;
}
.playpause-track, .prev-track, .next-track {
    font-size: 24px;
    cursor: pointer;
}

/* RSS Feed CSS */
/* Feed CHANNEL title */
.blog a {
    color: var(--sakura-button-background-color) !important;

}
.microblog h3.feed-title,
.blog h3.feed-title {
    display: none;
}
/* Feed ITEM title */
.microblog h4.feed-item-title a, .microblog h4.feed-item-title a:visited,
.blog h4.feed-item-title a, .blog h4.feed-item-title a:visited  {
    margin: 0 !important;
    margin-bottom: 6px !important;
    color: var(--sakura-blog-link-color) !important;
}
.microblog h4.feed-item-title a:hover,
.blog h4.feed-item-title a:hover {
    color: var(--sakura-blog-link-color-hover) !important;
}
.microblog p.feed-item-desc,
.blog p.feed-item-desc {
    margin-bottom: 16px !important;
}


/* Featured Art START */
.featuredArt {
    width: calc(100%-10px);
    height: 300px;
    /*background-image: url('../img/works/personal/2024/Serenity_XP_Landscape_x1.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

#retronaut-webring p {
    font-size: 16px;
}

#retronaut-webring p a {
    text-decoration: none;
}

/* Mobile layout support */
@media (max-width: 800px) {
    body {
        justify-content: center;
        align-items: center;
    }
    .desktop, .columns {
        width: auto;
        height: auto;
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
    }
    .left, .middle, .right {
        width: 100%;
    }
    .bio > .info {
        justify-content: center;
        align-items: center;
    }
    .taskbar {
        height: 64px;
    }
    .linkBtn, .galleryBtn {
        display: none;
    }

    .mobileNavi {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
    }
}

/* Prefers Reduced Motion */
@media (prefers-reduced-motion: reduce) {
    body {
        background-image: var(--sakura-background-image-reduced);
    }
    .gifypetoc, .adsWindow {
        display: none !important;
    }
    .headerBtn,
    #surfclub object#melonland-surf-club svg g#Outer {
        animation: none !important;
    }
}