:root {
    --xp: url('../img/works/css_themes/xp_button.png');
    --sakura: url('../img/works/css_themes/sakura_button.png');
    --halloween: url('../img/works/css_themes/halloween_button.png');
}

@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ubuntu-v20-latin-300.woff2') format('woff2');
}

body {
    font-family: Ubuntu;
}

.desktop {
    /* STRETCHES ON FULL RESOLUTION
    width: calc(100vw - 20px);
    */

    /* ASPECT RATIO REMAINS */
    width: 1350px;
    height: auto;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
}
.columns {
    width: 1350px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.left, .right {
    width: 50%;
}
.middle {
    width: 100%;
}

.headerButtons {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theme-switches {
    padding: 20px;
    image-rendering: pixelated;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.switch {
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.10s;
}
  
.switch:hover {
    transform: scale(1.5);
}

#switch-1 {
    background-image: var(--xp);
}

#switch-2 {
    background-image: var(--sakura);
}

#switch-3 {
    background-image: var(--halloween);
}

.floatingLogs {
    height: 300px;
}

.periodic_table_container {
    height: 400px;
}

@media (max-width: 800px) {
    .headerButtons {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .theme-switches {
        padding-top: 0;
        image-rendering: pixelated;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}